
#embed-api-auth-container{
  margin: 20px 0;
}

#view-selector-container{ 
  overflow: hidden;
  min-height: 50px;
}
#view-selector-container > *{ float: left; }

.logo-text{
	float: left;
	font-size: 2em;
	margin-top: .5em;
	font-weight: bold;
	margin-left: .8em;
}

#btn-staff{
	width:230px;
	margin-top: 20px;
}

.table-title{
	margin-left: 10px;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
vertical-align: middle;
}

.btn-manage{
	width: 280px;
	margin-top: 20px;
}

.edit-selected{
	position: absolute;
	top:0;
	left: 15px;
	width:90%;
	border-right:none;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.help-block{
	max-height: 80px;
	margin-top: 15px;
}
.show-icon{
	max-height: 50px;
}

.upload-file, .img-showicon{
	margin: 5px 0;
}

.spacer{
	margin-top: 3em;
}
.spacer-2em{
	margin-top: 2em;
}
.spacer-1em{
	margin-top: .8em;
}

.action-table img {
	width: 18px;
	height: 18px;
}

.action-table{
    position:relative;
}

#upload{
	padding-right: 0;
	padding-top: 1em;
	float:right;
}
#upload a {
	padding: 6px 2.4em;
}

.show-advert{
	height: 400px;
}

#show-image{
	max-height: 400px;
}

.width-60{
	width:60%;
}

/*.edit-icon:after{
    content:""; url("/plugins/template/images/icon/table_edit.png"); 
    width: 18px;
    height: 18px;
    background: url("/plugins/template/images/icon/table_edit.png") no-repeat  -30px -50px fixed;
    background-size: 18px 18px;
    top: 10px;
    right: 5px;
    position: absolute;
    display: inline-block; 
    z-index: 10;
}*/

.edit-icon{
    position: absolute;
    top: 16px;
    right: 15px;
}

.left-edit-icon{
    position: absolute;
    top: 16px;
    left: 15px;
}

.delete-icon{
    position: absolute;
    top: 16px;
    right: 50px;
}
.im-centered {
    margin: auto;
    max-width: 1000px;
}

.deleted{
	opacity:.3;
}
.inner-row div, .left-0{  /*, .inner-action div:first-child */
	padding-left:0;
}
.inner-action div{
	padding-right:0;
}
.left-30{
	padding-left:3.2em!important;
}

.height-eq {
	height: 54px;
	padding-top:1em;
}
tbody.vertical-top>tr>td:first-child{
	vertical-align: top!important;
	padding-top:1em!important;
}

/*fix firefox*/
div, i, input, td, li, ul, img{
    -moz-box-sizing:border-box;
    /*-moz-column-gap: normal;*/
}

.table tbody#users-table>tr>td{
	vertical-align: top;
}

/*.add-action{
	left:0;
	top:0;
}*/

#hidden-pages-data{
	display: none;
}

.pdf{
	width:100px;
}

.btn-status{
	color:#fff!important;
	padding: 8px 12px!important;
	margin: 10px 18px;
}
.width-102px{
	min-width:102px;
}
