@font-face {
	font-family:'Playfair Display';
/*	font-style: regular;*/
	/*src:local("Playfair Display"),*/
	src: url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.eot');
        src: url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.woff2') format('woff2'),*/
       url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.woff') format('woff'),
       url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.ttf')  format('truetype'),
       url('/fonts/Playfair_Display/regular/PlayfairDisplay-Regular.svg#svgFontName') format('svg');
}
@font-face {
	font-family:'Playfair Display b';
	font-weight: bold;
	/*src:local("Playfair Display"),*/
        src: url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.eot');
        src: url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.woff2') format('woff2'),*/
       url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.woff') format('woff'),
       url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.ttf')  format('truetype'),
       url('/fonts/Playfair_Display/bold/PlayfairDisplay-Bold.svg#svgFontName') format('svg');	
}
@font-face {
	font-family:'Playfair Display bi';
	font-weight: bold;
        font-style: italic;
	/*src:local("Playfair Display"),*/
        src: url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.eot');
        src: url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.woff2') format('woff2'),*/
       url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.woff') format('woff'),
       url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.ttf')  format('truetype'),
       url('/fonts/Playfair_Display/bolditalic/PlayfairDisplay-BoldItalic.svg#svgFontName') format('svg');	
}
@font-face {
	font-family:'Playfair Display i';
        font-style: italic;
	/*src:local("Playfair Display"),*/
        src: url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.eot');
        src: url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.woff2') format('woff2'),*/
       url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.woff') format('woff'),
       url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.ttf')  format('truetype'),
       url('/fonts/Playfair_Display/italic/PlayfairDisplay-Italic.svg#svgFontName') format('svg');	
}
@font-face {
	font-family:'Proxima nova';
	/*src:local("Proxima nova"),*/
	src: url('/fonts/proximanova/regular/proximanova-regular.eot');
        src: url('/fonts/proximanova/regular/proximanova-regular.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/proximanova/regular/proximanova-regular.woff2') format('woff2'),*/
       url('/fonts/proximanova/regular/proximanova-regular.woff') format('woff'),
       url('/fonts/proximanova/regular/proximanova-regular.ttf')  format('truetype'),
       url('/fonts/proximanova/regular/proximanova-regular.svg#svgFontName') format('svg');
}
@font-face {
	font-family:'Proxima nova b';
	font-weight: bold;
/*	src:local("Proxima nova"),
        src: url('/fonts/proximanova/bold/proximanova-bold.eot');
        src: url('/fonts/proximanova/bold/proximanova-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/proximanova/bold/proximanova-bold.woff2') format('woff2'),
       url('/fonts/proximanova/bold/proximanova-bold.woff') format('woff'),
       url('/fonts/proximanova/bold/proximanova-bold.ttf')  format('truetype'),
       url('/fonts/proximanova/bold/proximanova-bold.svg#svgFontName') format('svg');	*/
	src: url('/fonts/proximanova/bold/ProximaNova-Bold.eot?') format('eot'), 
	     url('/fonts/proximanova/bold/ProximaNova-Bold.otf')  format('opentype'),
	     url('/fonts/proximanova/bold/ProximaNova-Bold.woff') format('woff'), 
	     url('/fonts/proximanova/bold/ProximaNova-Bold.ttf')  format('truetype'),
	     url('/fonts/proximanova/bold/ProximaNova-Bold.svg#Proxima nova b') format('svg');

}
@font-face {
	font-family:'Proxima nova i';
	font-style: italic;
	/*src:local("Proxima nova"),*/
        src: url('/fonts/proximanova/italic/proximanova-regitalic.eot');
        src: url('/fonts/proximanova/italic/proximanova-regitalic.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/proximanova/italic/proximanova-regitalic.woff2') format('woff2'),*/
       url('/fonts/proximanova/italic/proximanova-regitalic.woff') format('woff'),
       url('/fonts/proximanova/italic/proximanova-regitalic.ttf')  format('truetype'),
       url('/fonts/proximanova/italic/proximanova-regitalic.svg#svgFontName') format('svg');	
}
@font-face {
	font-family:'Proxima nova bi';
	font-style: italic;
        font-weight: bold;
	/*src:local("Proxima nova"),*/
        src: url('/fonts/proximanova/bolditalic/proximanova-boldit.eot');
        src: url('/fonts/proximanova/bolditalic/proximanova-boldit.eot?#iefix') format('embedded-opentype'),
       /*url('/fonts/proximanova/bolditalic/proximanova-boldit.woff2') format('woff2'),*/
       url('/fonts/proximanova/bolditalic/proximanova-boldit.woff') format('woff'),
       url('/fonts/proximanova/bolditalic/proximanova-boldit.ttf')  format('truetype'),
       url('/fonts/proximanova/bolditalic/proximanova-boldit.svg#svgFontName') format('svg');	
}
@font-face {
	font-family:'Merriweather';
	/*src:local("Merriweather");*/
	/*url('/fonts/Merriweather-Regular.otf') format('opentype'),*/
	/*url('/fonts/Merriweather-Regular.ttf') format('truetype');*/
        src: url('/fonts/Merriweather/regular/Merriweather-Regular.eot'); /* IE9 Compat Modes */
        src: url('/fonts/Merriweather/regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       /*url('/fonts/Merriweather/regular/Merriweather-Regular.woff2') format('woff2'),  Super Modern Browsers */
       url('/fonts/Merriweather/regular/Merriweather-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Merriweather/regular/Merriweather-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Merriweather/regular/Merriweather-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family:'Merriweather b';
	font-weight: bold;
/*	src:local("Merriweather"),
        src: url('/fonts/Merriweather/bold/Merriweather-Bold.eot');
        src: url('/fonts/Merriweather/bold/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Merriweather/bold/Merriweather-Bold.woff2') format('woff2'),
       url('/fonts/Merriweather/bold/Merriweather-Bold.woff') format('woff'),
       url('/fonts/Merriweather/bold/Merriweather-Bold.ttf')  format('truetype'),
       url('/fonts/Merriweather/bold/Merriweather-Bold.svg#svgFontName') format('svg');*/
	src: url('/fonts/Merriweather/bold/Merriweather-Bold.eot?') format('eot'), 
	     url('/fonts/Merriweather/bold/Merriweather-Bold.otf')  format('opentype'),
	     url('/fonts/Merriweather/bold/Merriweather-Bold.woff') format('woff'), 
	     url('/fonts/Merriweather/bold/Merriweather-Bold.ttf')  format('truetype'),
	     url('/fonts/Merriweather/bold/Merriweather-Bold.svg#Merriweather b') format('svg');
}
@font-face {
	font-family:'Merriweather i';
	font-style: italic;
	/*src:local("Merriweather"),*/
        src: url('/fonts/Merriweather/italic/Merriweather-Italic.eot');
        src: url('/fonts/Merriweather/italic/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        /*url('/fonts/Merriweather/italic/Merriweather-Italic.woff2') format('woff2'),*/
        url('/fonts/Merriweather/italic/Merriweather-Italic.woff') format('woff'),
        url('/fonts/Merriweather/italic/Merriweather-Italic.ttf')  format('truetype'),
        url('/fonts/Merriweather/italic/Merriweather-Italic.svg#svgFontName') format('svg');
}
@font-face {
	font-family:'Merriweather bi';
	font-weight: bold;
	font-style: italic;
	/*src:local("Merriweather"),*/
        src: url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.eot');
        src: url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        /*url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.woff2') format('woff2'),*/
        url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.woff') format('woff'),
        url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.ttf')  format('truetype'),
        url('/fonts/Merriweather/bolditalic/Merriweather-BoldItalic.svg#svgFontName') format('svg');
}
body{
     font-family: 'Playfair Display', 'Proxima nova', 'Merriweather',
         "Helvetica Neue", Helvetica, Arial, sans-serif; /* */
     font-size: 15px;   
     position: relative;
     color: #000;
}
.font-proxima{
    font-family: 'Proxima nova', Arial, Helvetica, sans-serif;
}
.font-proxima b, .font-proxima th{
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
.font-proxima-b{
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
    font-weight: bold;    
}
.font-proxima-bi{
    font-family: 'Proxima nova bi', Arial, Helvetica, sans-serif;
    font-weight: bold; 
    font-style: italic;
}
.font-proxima-i{
    font-family: 'Proxima nova i', Arial, Helvetica, sans-serif;
    font-style: italic;
}
.font-proxima i{
    font-family: 'Proxima nova i', Arial, Helvetica, sans-serif;
    font-style: italic;
}
.font-merriweather{
     font-family: 'Merriweather', Arial, Helvetica, sans-serif;   
}
.font-merriweather b{
     font-family: 'Merriweather b', Arial, Helvetica, sans-serif;   
     font-weight: bold;     
}

.font-merriweather-b{
     font-family: 'Merriweather b', Arial, Helvetica, sans-serif;   
     font-weight: bold;     
}
.font-merriweather-bi{
     font-family: 'Merriweather bi', Arial, Helvetica, sans-serif;   
     font-weight: bold;     
     font-style: italic;
}
.font-merriweather-i{
     font-family: 'Merriweather i', Arial, Helvetica, sans-serif;   
     font-style: italic;
}
.font-merriweather i{
     font-family: 'Merriweather i', Arial, Helvetica, sans-serif;   
     font-style: italic;
}
.font-playfair{
     font-family: 'Playfair Display', Arial, Helvetica, sans-serif;   
}
.font-playfair-b{
     font-family: 'Playfair Display b', Arial, Helvetica, sans-serif;   
     font-weight: bold;
}
.font-playfair b{
     font-family: 'Playfair Display b', Arial, Helvetica, sans-serif;   
     font-weight: bold;   
}
.font-playfair-bi{
     font-family: 'Playfair Display bi', Arial, Helvetica, sans-serif;   
     font-weight: bold;     
     font-style: italic;
}
.font-playfair i{
     font-family: 'Playfair Display i', Arial, Helvetica, sans-serif;   
     font-style: italic;
}
.font-playfair-i{
     font-family: 'Playfair Display i', Arial, Helvetica, sans-serif;   
     font-style: italic;
}
/*fix firefox*/
div, i, input, td, li, ul, img{
    -moz-box-sizing:border-box;
    /*-moz-column-gap: normal;*/
}
.header, .news-latest{
    background-color: #000;
    color: #fff;
    margin-bottom: 30px;
}
.news-latest{
    margin-bottom: 0px;
}
.gray, .gray a, .gray a:hover{
     color: #6D6D6D!important;
     text-decoration: none;
}
.blue{
    color: #1B9AC9;    
}
.white, .white a{
    color: #fff!important;
}
.font-proxima.bold{
    font-weight: bold;
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
}
#support{
    position:absolute;
    right:38px;
    top: 20%;
    background-color: #000;
/*    font-weight: bold;
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;*/
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -webkit-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    padding: 5px 5px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 10;
}
#support a{
    text-decoration: none;
     color: #fff;   
     padding:6px 48px;
     display: block;
     font-size: .9em;
     border: 1px #ADADAD solid;
     border-bottom: none;
}
/*#support a:hover{
    padding-top:8px;
    padding-bottom: 8px;
}*/
#support:hover{
/*    right: 41px;
    transform: translateY(-10px);
    padding: 8px 8px 0;*/

}
.gray-line{
    position: absolute;
    top: 60px;
    border-bottom: 1px solid #3C3C3C;
    width: 100%;
}
.logo {
    background:url("/img/logo-front.png") no-repeat;
    background-size: 90px 130px;
    display: block;
    width: 90px;
    height: 130px;
    margin-top:20px;
    margin-bottom: 30px;
/*    margin-left:20px;*/
    float:left;
    text-decoration:none;
    color:#535457;
     /*margin-right: 40px;*/
}
/*.logo-head{
    margin-right: -50px;
}*/
.header .nav{
    margin-left: 60px;
}
.header .nav>li>a {
    color: #fff;
    padding: 20px 15px;
}
.nav>li>a:hover, .nav>li>a:focus { /*.nav>li.active{*/
    background-color: inherit;
    /*font-weight: bold;*/
    color:#fff;
}
.header .nav>li:not(:first-child):before{
    position: absolute;
    content: "/";
    top: 20px;
}
.header .nav.main-menu>li:not(:first-child):before{
    top: 15px;
}
.main-menu{
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Playfair Display b', Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.form-control{
    border-radius: 0;
}
.header input[type="search"]{
    background-color: inherit;
    color: inherit;
    border-color: #6D6D6D;
    /*font-weight: bold;*/
    border-radius: 3px;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
/*    position: absolute;
    right:0;
    top:0;
    width: 100%;*/
}
 #search span{
    font-size: 18px;
    top: 4px;
}
.header .form-group{
    margin-top: 40px;
/*    width: 300px;*/
}
.nav.login{
    margin-right: 60px;
    margin-left: 0px;
}
.date-news{
    padding: 20px 40px 0;
    font-weight: bold;
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
    font-size: .9em;
    text-transform: uppercase;
/*    margin-left: 20px;*/
}
.head-news {
    font-size: 2.2em; /*33px*/
    font-weight: bold;
    font-family: 'Playfair Display b', Arial, Helvetica, sans-serif;
     border-right: 1px #6D6D6D solid;   
     padding: 32px 38px 43px;
}

.news-latest  .nav>li{
     font-weight: bold;
     font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: .9em;   
    border: 1px #6D6D6D solid;
    border-collapse: collapse;
    position:relative;
}

.news-latest .nav>li>a:hover,
.news-latest .nav>li.active>a{
    color: #fff!important;
    text-decoration: underline;
}
.news-latest .nav>li.active:after{
    position: absolute;
    z-index: 2;
    content: "";
    bottom: 0px;
    left: 50%;
    background-color: #000;
    width: 10px;
    height: 10px;
    -moz-transform: translateY(50%) translateX(-50%) rotate(-45deg);
    -ms-transform: translateY(50%) translateX(-50%) rotate(-45deg);
    -webkit-transform: translateY(50%) translateX(-50%) rotate(-45deg);
    -o-transform: translateY(50%) translateX(-50%) rotate(-45deg);
    transform: translateY(50%) translateX(-50%) rotate(-45deg);
}
.news-latest .head {
    padding:13px 15px;
}
.news-latest .nav>li>a {
    padding:20px 0;
}
.head{
    font-size: 1.6em; /*24px*/
    font-weight: bold;
    font-family: 'Playfair Display b', Arial, Helvetica, sans-serif;
}
.news-text{
    /*margin-top: -30px;*/
    border-left: 1px #AFAFAF solid;
    border-right: 1px #AFAFAF solid;
    padding: 15px 0px 30px;
    font-size: .9em;
}
.summary-short{
    font-size: 15px;
    /*font-weight: bold;*/
    color: #000;
}
.news-type{
    font-weight: bold;    
    text-transform: uppercase;
}
.news-text a{
    display: block;
    /*margin-top: 30px;*/
    padding: 10px 20px;
}
.news-text a:hover, .news-text a:focus,
a.see-more:hover, a.see-more:focus,
.news-feed a:hover, .news-feed a:focus{
    text-decoration: none;
    /*color:inherit;*/
}
.news-feed a{
    color:#000;
}
.news-feed>li{
    margin-bottom: 25px;  
    display: inline-block;
    width: 100%;
}
ul.news-feed{
    padding:0 10px;
}
.news-text a{
    display: block;
    /*padding: 25px 25px;*/
}
.show-icon16{
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 5px;
    vertical-align: baseline;
}
.show-icon24{
    width: 24px!important;
    height: 24px!important;
    display: inline;
    margin-right: 5px;
    /*vertical-align: baseline;*/    
}
.feed-date{
    font-weight: bold;
    font-size: .9em;
    margin: 5px 0px 10px;
}
.feed-type{
    /*font-size: .9em;*/
    margin: 17px 0;
}
/*i.floppy-ico{
    background:url(../img/icons/floppy16.png) no-repeat;
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top:20px;
    margin-bottom: 30px;
    margin-left:20px;
    float:right;
    text-decoration:none;
    color:#535457;  
}*/
.feed-type a.right-icon>img{
    width: 30px;
    height: 30px;
}
.feed-type a.right-icon{
    margin-left: 5px;
}
.row.header{
    margin-bottom: 20px;
}
.news-feed .gray{
   color: #8D8D8D!important; 
}
.see-more{
    border: 1px #AFAFAF solid;
    padding: 15px;
    display: block;
    color: #6D6D6D;
    font-weight: bold;
    border-bottom: none;
}

.advertisement{
    background-color: #E5E5E5;
    /*height: 280px;*/
}
.footer-advert{
    margin: 50px 0;
    width: 95%;
    /*height: 100%;*/
    display: inline-block;
      /*max-height: 180px;*/  
}
.footer{
    background-color: #000;
}
.company{
    /*padding: 100px 0;*/    
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.compaign{
    color: #A3A3A3;
    margin-bottom: 50px;
    padding-right: 120px;
}
/*.compaign p{
    margin-top: 30px;
    font-size: 1.1em;
}*/
.head26{
    font-weight: bold;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 20px;
}
.head28{
    font-weight: bold;
    font-size: 2.1em;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 18px;
}
a.btn-pricing{
    display: block;
    border: 1px #6D6D6D solid;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 20px;
}
a.btn-pricing:hover,a.btn-pricing:focus{
    text-decoration: none;
    color: #fff;
}
a.left-icon>img{
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.nowrap{
    white-space: nowrap;
}
.wrap {
    white-space: normal;
}
.footer.menu{
    border-top: 1px #3C3C3C solid;
    font-size: .9em;
    padding-top: 20px;
    padding-bottom: 60px;
}
.footer.menu .nav>li>a {
    padding: 5px 10px;
}
.footer.menu p{
    margin-top: 10px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    border: none;
    background-color: inherit;
}

/*.dropdown-menu>.arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
    border-width: 11px;
     z-index: 1060;

}
.dropdown-menu>.arrow, .dropdown-menu>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.dropdown-menu.bottom>.arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
               background-color: #fff;
}
.dropdown-menu>.arrow:after {
    content: "";
    border-width: 10px;
}
.dropdown-menu>.arrow, .dropdown-menu>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.dropdown-menu>.arrow:after {
    content: "";
    border-width: 10px;
}*/
.dropdown-menu>.arrow {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0px;
    left: 50%;
    background-color: #fff;
    width: 15px;
    height: 15px;
     -moz-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(45deg);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu,
 .login .dropdown-menu{
    left: -160px;
    border-radius: 0;
    padding: 45px 25px 25px;
    width: 395px;
    font-size: 12px;
    background-color: #fff;
    position: relative;
  }       
}


.login .dropdown-menu{
    left: -160px;
    border-radius: 0;
    padding: 45px 25px 25px;
    width: 395px;
    font-size: 12px;
}

#support .dropdown-menu{
    /*right: 40px;*/
    top: -10px;
    border-radius: 0;
    padding: 25px;
    width: 395px;
    font-size: 12px;
     -moz-transform: rotate(90deg) translateY(15%);
    -ms-transform: rotate(90deg) translateY(15%);
    -webkit-transform: rotate(90deg) translateY(15%);
    -o-transform: rotate(90deg) translateY(15%);
    transform: rotate(90deg) translateY(15%);
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -webkit-transform-origin: right top;
    -o-transform-origin: right top;  
    transform-origin: right top;
}
.login .dropdown-menu .form-control, 
#support .form-control{
    font-size: 12px;
}
.remember, .login-btn{
    display: block;
    float: left;
    width: 50%;
}
/*.login-btn{
    display: block;
    float: right;
    width: 50%;    
}*/
/*.login-btn>.btn, #support .btn-default{
   text-transform: uppercase;
   padding: 10px 30px!important;
}*/
.dropdown-menu label{
    font-weight: normal;
}
.spacer-1em{
    margin-top: 1.5em;
}
.spacer{
    margin-top:3em;
}
.spacer-05em{
    margin-top:.7em;
}
 /*#formLogin .btn-default, #support .btn-default {*/
 .btn-default{
    color: #5f5f5f;
    border-color:#c9c9c9;
    background-color: #E9E9E9;
    *background-color: #eaeaea;
    background-image: -moz-linear-gradient(top, #E9E9E9, #eaeaea);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E9E9E9), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #E9E9E9, #eaeaea);
    background-image: -o-linear-gradient(top, #E9E9E9, #eaeaea);
    background-image: linear-gradient(to bottom, #E9E9E9, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
    text-transform: uppercase;
    padding: 10px 30px!important;
    box-shadow: 2px 2px 2px #3C3C3C; 
    -moz-box-shadow: 2px 2px 2px #3C3C3C; 
    -webkit-box-shadow: 2px 2px 2px #3C3C3C; 
    -o-box-shadow: 2px 2px 2px #3C3C3C; 
}

.btn.sign-up, .btn.forgot{
    float: left;
    font-size: 12px;
    padding: 12px 35px;
    border-color: #000;
    background-color: #fff;
    background-image: none;
    text-transform: none;
}

.btn.forgot{
    float:right!important;
}
.btn.sign-up:hover, .btn.forgot:hover,
.db a.btn:hover{
     background-color: #e6e6e6;
     /*color: #000!important;*/
}
.btn:hover{
    color: #000!important;
}
.close {
    /*float: right;*/
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Merriweather b', Arial, Helvetica, sans-serif;
}
/*button.close {
    border: 1px #5f5f5f solid;
    border-radius: 20px;
}*/
#CaptchaCode{
	width: 250px;
}
#ExampleCaptcha_CaptchaImageDiv a{
	display: none!important;
}
.alert{
    font-family: 'Merriweather b', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
 #c1, #c2{
     /*font-size: 20px!important;*/
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    margin-right: -10px;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
}
.steps .checkbox>label>span{
    margin-left: 10px;
    /*vertical-align: text-bottom;*/
     margin-top:5px;   
    display: inline-block;
}
p.remember>label{
    vertical-align: middle;
}
/*#c1{
    font-size: 16px;
}*/

/*  Teaser page ============== ===================*/
ul.teaser-list{
    list-style-image: url('/img/icons/check-mark.png');
    /*padding: 2%;*/
    margin-top: 40px;
    margin-bottom: 40px;
}
ul.teaser-list li {
        width: 50%; /* two columns list*/
        line-height:2;
        font-size: 20px;
        /*font-weight: bold;*/
        float:left;
        padding-left: 14px;
        /*display:inline-block;*/
}
.teaser h1{
        font-size: 47px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 40px;
        /*color: #000;*/
}
.teaser p, .steps p{
    line-height: 1.7;
}
ul.teaser-right>li{
    font-size: 13px;
    padding-left: 8px;
    padding-bottom: 10px;
}

/* Choose subscription =====================================*/
.step{
    background-color: #F2F2F2;
    border-top: 5px #999999 solid;
    color: #ccc;
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Proxima nova b', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.step.active{
    border-color: #000;
    color: #000;
}
.steps h4{
    font-weight: bold;
    font-family: 'Merriweather b', Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
}
/*.steps [class='*col-']{
    padding-left: 25px;
    padding-right: 25px;
}*/
.steps{
    padding-left: 40px;
}
.steps>.progress-steps{
    margin-left:-40px;
}
.steps input[type="radio"]{
    width: 25px;
    height: 25px;
    /*display: inline-block;
    margin:auto;*/
    margin-left: -12px;
}
.steps .panel-title{
    font-size: 14px;
    /*white-space: nowrap;*/
}
.steps .panel-heading{
   overflow: hidden;    
}
.steps .panel-body, #profile .panel-body{
    font-size: 12px;
}
.steps .radio label{
    padding:0!important;
    width: 100%;
}
.panel.checked{
    border: 3px #B0D13A solid;
    /*margin-top: -3px;
    margin-bottom: 17px;*/
}
input[type="radio"]:checked:after{
    position: absolute;
    z-index: 2;
    content: "";
    left: 0px;
    bottom: 0px;
    background-color: #B0D13A;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -moz-transform: translateY(-8px) translateX(7px);
    -ms-transform: translateY(-8px) translateX(7px);
    -webkit-transform: translateY(-8px) translateX(7px);
    -o-transform: translateY(-8px) translateX(7px);
    transform: translateY(-8px) translateX(7px);
}
#btn-go-back{
    position: relative;
    padding-left: 20px!important;
    margin-left: 30px;
}
#btn-go-back span{
    position: relative;
    z-index: 100;
}
#btn-go-back:before{
        position: absolute;
    z-index: 1;
    content: "";
    top: 50%;
    left:0;
    background-color: #E9E9E9;
    border: 1px #c9c9c9 solid;
    border-right: none;
    border-top: none;
    width: 29px;
    height: 29px;
    border-bottom-left-radius: 4px;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(45Deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(45Deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(45Deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(45Deg);
    transform: translateY(-50%) translateX(-50%) rotate(45Deg);
}
#next{
    position: relative;
    padding-right: 20px!important;
    margin-right: 30px;
}
#next span{
    position: relative;
    z-index: 100;
}
#next:before{
    position: absolute;
    z-index: 1;
    content: "";
    top: 50%;
    right:0;
    background-color: #E9E9E9;
    border: 1px #c9c9c9 solid;
    border-left: none;
    border-bottom: none;
    /*border-right: 2px #3C3C3C solid;*/
    width: 29px;
    height: 29px;
    border-top-right-radius: 4px;
    -moz-transform: translateY(-50%) translateX(50%) rotate(45Deg);
    -ms-transform: translateY(-50%) translateX(50%) rotate(45Deg);
    -webkit-transform: translateY(-50%) translateX(50%) rotate(45Deg);
    -o-transform: translateY(-50%) translateX(50%) rotate(45Deg);
    transform: translateY(-50%) translateX(50%) rotate(45Deg);
    -moz-box-shadow: 2px -1px 1px #3C3C3C; 
    -webkit-box-shadow: 2px -1px 1px #3C3C3C; 
    -o-box-shadow: 2px -1px 1px #3C3C3C;
    box-shadow:2px -1px 1px #3C3C3C; 
}
#your-info{
    font-size: 12px;
}
#your-info p{
    margin: 5px 0 5px;
}
#your-info input.form-control{
    font-family: 'Merriweather i', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}
.popover {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #C4C4C4;
}
.popover.right>.arrow:after {
    border-right-color: #C4C4C4;
}
.inline-input{
    padding-right: 15px;
    padding-left:5px;
}
.inline-input [class^="col-"]{
    padding-right: 0;
    padding-left: 10px;
}
.steps .info{
    font-size:11px;
    color: #99A2A2;
}
.spacer-2em{
    margin-top: 2.5em;
}
.steps .glyphicon {
    position: absolute;
    top: 7px;
    right: -12px;
    font-size: 18px;
    /*opacity: .6;*/
    color: #99A2A2;
    cursor: pointer;
}
.steps .glyphicon:hover,
 .info-list .glyphicon:hover {
    color: #000;
}
.width-auto{
    width: auto!important;
}
#order{
    padding: 27px 0 13px;
    border-bottom: 1px #8D8D8D solid;
}
#payment-method .radio label{
    padding-top:27px!important;
    padding-bottom:27px!important;
    border-bottom: 1px #AFAFAF solid;
    font-size: 14px;
    display: block;
/*    font-weight: bold!important;*/
}
#payment-method .glyphicon {
    right: -25px;
    top: 28px;
}
#payment-method .checked .glyphicon {
    right: -28px;
    top: 25px;
}
#payment-method .radio img{
    float: right;
    margin-left: 5px;
}
#payment-method .radio.checked{
    border: 3px #B0D13A solid;
    /*margin: -3px;*/
    padding-left: 12px;
    padding-right: 12px;
}
#payment-method .radio.checked label{
    padding-top:24px!important;
    padding-bottom:24px!important;    
}
#payment-method .form-group, #payment-method .radio{
    margin-top: 0;
    margin-bottom: 0;
}
#payment-info img{
    float: left;
    margin-right: 5px;
}
#payment-info img.active{
    border: 2px #B0D13A solid;
    border-radius: 2px;
}
.width-45{
    width: 43%;
}
.width-10{
    width: 14%;
    padding-top: 7px;
}
.width-100{
    width: 100%;
}
#payment-info.form-horizontal .control-label{
    text-align: left!important;
    font-size: 14px;
}
#payment-info .glyphicon {
    right: -25px;
}
#payment-info .cards .glyphicon{
    position: static;
    margin-left:15px;
}
#payment-info .footnote{
    font-size: 13px;
    color: #ADADAD;
}
#payment-info .footnote img{
    margin-top: 4px;
    margin-right: 8px;
}
#receipt{
    font-size: 13px;
}
.head-note{
    font-size: 15px;
}
#receipt .footer-line{
    padding-bottom: 1.5em;
    font-size: 12px;
    font-style: italic;
    font-family: 'Merriweather i', Arial, Helvetica, sans-serif;
    border-bottom: 1px #ADADAD solid;
}
#receipt .footnote{
    font-size: 14px;
    color: #ADADAD;
}
.line-2{
    line-height: 1.7;
}
#login{
    border: 1px #000 solid;
    padding: 50px 50px 40px;
    font-size: 12px;
}
#login label{
    font-weight: normal;    
}
#login .form-control{
    font-size: 12px;
    font-style: italic;
    font-family: 'Merriweather i', Arial, Helvetica, sans-serif;
}
#denied{
    /*padding: 0 50px;*/
}
.remember span{
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}
#reminder .form-control{
    font-size: 12px;
    font-style: italic;
    font-family: 'Merriweather i', Arial, Helvetica, sans-serif;
}
#profile .footer-line{
    /*padding-bottom: 2.5em;*/
    border-bottom: 1px #ADADAD solid;   
}
#profile .btn{
    margin-right: 15px;
}
#profile .info-list, 
table.info-list>tbody>tr>td,
.steps .info-list{
    font-size: 13px;
    line-height: 2;
    
}
#profile .form-group, #profile .form-control{
    font-size: 12px;
}
#profile label{
    font-family: "Merriweather b";
}
.panel{
    border-radius: 0;
    border-color: #ADADAD;
    position: relative;
}
.panel-default>.panel-heading{
    border-color: #ADADAD;   
}
#panel-btns .btn{
    margin: 0;
}
#payments .btn-default {
    padding: 6px!important;
}
#payments.table>tbody>tr>td{
    vertical-align: middle;
}
#payments.table>thead>tr>th.slash:after{
    position: absolute;
    content: "/";
    top: 8px;
    right: 0;
}
#payments.table>thead>tr>th.slash{
    position: relative;
}
.info-list .btn{
    position: relative;
}
.info-list .glyphicon {
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 18px;
    /*opacity: .6;*/
    color: #99A2A2;
    cursor: pointer;
}
.info-list .form-group .glyphicon{
    top: 8px;
    right: -15px;
}
.btn-default.width-100{
    padding-left: 0!important;
    padding-right: 0!important;
}
.table.info-list>tbody>tr>td{
    border-top: 1px solid #ADADAD;
    border-bottom: 1px solid #ADADAD;
}
.cross-line{
    background:url();
    background-size:100% 100%;
    z-index: 100;
}
.radio.disabled{
    opacity:.7;
}
.radio.disabled .cross{
    position: absolute;
    left:0;
    top:0;
    background: url("/img/cross2.png")no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
/*    height: calc(100% - 20px);
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);*/
}

ul.db, ul.tabs{

    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
ul.db>li, ul.tabs>li{
    display: inline-block;  
/*    float: left;*/
}
.db a.btn{
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 15px;
    margin: 14px 14px 0 0;
}
.breadcrumbs{
    padding: 15px 0 0 45px;
    margin:20px 0 0;
    list-style: none;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.breadcrumbs>li:first-child{
    margin-left:-45px;
}
.breadcrumbs>li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
.breadcrumbs>li.slash:after{
    position: absolute;
    content: "/";
    top: 0;
    right: -5px;
}
.breadcrumbs>li.slash{
    position: relative;
    padding-right: 15px;
}
ul.topics>li{
    list-style: none;
    font-size: 14px;
    margin-top: 5px;
}
.black, .black a, .black a:hover{
    color: #000!important; 
    text-decoration: none;
}
 ul.topics{
    list-style: none;
    padding: 25px 0;
    border-bottom: 1px solid #C4C4C4;
}
.tabs a{
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #C4C4C4;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    opacity: 0.5;
}
.tabs a.no-icon{
    padding-top: 13px;
    padding-bottom: 13px;  
}
.tabs .show-icon16{
    vertical-align: middle;
}
.tabs .ui-tabs-active a{
    opacity: 1;
}
/*.articles{
}*/
.ui-tabs-panel{
    padding: 25px 20px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}
.tag{
    padding: 0 20px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;  
}
.tag ul>li{
    padding: 12px 0;
    border-bottom: 1px solid #C4C4C4;
    font-size: 12px;
}
.no-content{
    padding: 25px;
}
.year-view{
    position: relative;
    background-color: #FBFBFB;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.year-view p{
    font-size: 21px;
    margin-bottom: 5px;
    line-height: 1;
    padding: 4px;
}
.year-arrow{
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 50px;
    padding: 9px 10px 3px;
    text-align: center;
}
.year-arrow[data-dir="left"]{
    left: 0;
}
.year-arrow[data-dir="right"]{
    right: 0;
}
.articles .head{
    font-size: 16px;
}
.articles ul, .ui-tabs-panel ul, 
 .tag ul{
    list-style: none;
    padding: 0;
}
.tag p{
    margin-bottom: 6px;
}
.articles .titles{
    font-size: 12px;
    margin: 12px 0;
}
.titles>span{
    vertical-align: baseline;
}
.articles a:hover{
    text-decoration: none;
}
.tags {
    margin: 12px 0;
    text-transform: uppercase;
    font-size: 12px;
}
/*.feed-type{*/
.articles ul>li{
    border-bottom: 1px solid #C4C4C4;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #D3D3D3;
    background: url('/plugins/jquery-ui-1.11.4/images/ui-bg_glass_75_e6e6e6_1x400.png') repeat-x scroll 50% 50% #E6E6E6;
    font-weight: normal;
    color: #555;
}*/

/*.sp-long-filter-row:last-of-type .sp-long-filter-remove,*/
/*.sp-long-filter-add-new{ display: none; }*/

.sp-long-filter-row > *,
.sp-filter-row > *,
.sp-filter-date-row > *{
  display: inline-block;
  width: 23%;
  margin: 10px 0.5%;
}

.sp-filter-date-row > *{ margin: 0 0.5%; }
.sp-filter-date-month{ width: 45% }

.articles ul.pagination, .tag ul.pagination>li{
    /*font-family: 'Proxima nova', Arial, Helvetica, sans-serif;*/
    font-size: 15px;
}