@charset "UTF-8";

@font-face {
  font-family: "icon-fonts";
  src:url("fonts/icon-fonts.eot");
  src:url("fonts/icon-fonts.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon-fonts.woff") format("woff"),
    url("fonts/icon-fonts.ttf") format("truetype"),
    url("fonts/icon-fonts.svg#icon-fonts") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon-fonts" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-fonts" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-thin:before {
  content: "a";
}
.icon-arrow-right-thin:before {
  content: "b";
}
.icon-arrow-left-light:before {
  content: "c";
}
.icon-arrow-right-light:before {
  content: "d";
}
.icon-arrow-right:before {
  content: "e";
}
.icon-arrow-left:before {
  content: "f";
}
.icon-record:before {
  content: "g";
}
.icon-dot:before {
  content: "h";
}
.icon-primitive-dot:before {
  content: "i";
}
.icon-lock:before {
  content: "j";
}
.icon-lock-1:before {
  content: "k";
}
.icon-arrow-left-big:before {
  content: "l";
}
.icon-arrow-right-big:before {
  content: "m";
}
.icon-arrow-doubled-left:before {
  content: "n";
}
.icon-arrow-doubled-right:before {
  content: "o";
}
.icon-blank:before {
  content: "p";
}
